---
import { BLOCKS } from "@contentful/rich-text-types";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { slugify } from "@/lib/utils/textConverter";

interface Props {
  content: array;
}

const options = {
  renderNode: {
    [BLOCKS.HEADING_1]: (node, next) => {
      `<h1 id="${slugify(node.content)}">${next(node.content)}</h1>`;
    },
    [BLOCKS.HEADING_2]: (node, next) => {
      `<h2 id="${slugify(node.content)}">${next(node.content)}</h2>`;
    },
    [BLOCKS.HEADING_3]: (node, next) => {
      `<h3 id="${slugify(node.content)}">${next(node.content)}</h3>`;
    },
    [BLOCKS.HEADING_4]: (node, next) => {
      `<h4 id="${slugify(node.content)}">${next(node.content)}</h4>`;
    },
    [BLOCKS.HEADING_5]: (node, next) => {
      `<h5 id="${slugify(node.content)}">${next(node.content)}</h5>`;
    },
    [BLOCKS.HEADING_6]: (node, next) => {
      `<h6 id="${slugify(node.content)}">${next(node.content)}</h6>`;
    },
  },
};

// options dont work yet

const renderedHTML = documentToHtmlString(Astro.props.content);
---

<article set:html={renderedHTML} class="rich-text-container" />
