---
import { getArticles } from "@/lib/API";
import Base from "@/layouts/Base.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import Section from "@/partials/Section.astro";

export const prerender = true;

export async function getStaticPaths() {
  const articles = await getArticles();
  return articles;
}

const { title, slug, isFeatured, image, description, content, publishedAt } =
  Astro.props;
---

<Base title={title} meta_title={title}>
  <header class="w-screen px-4 py-16 mt-12 text-center">
    <p
      set:html={`— ${isFeatured ? "Lesenswerter " : ""}Artikel —`}
      class="mb-8 tracking-wide text-md font-secondary"
    />
    <h1 set:html={title} class="mb-8 text-3xl font-bold" />
    {
      description && (
        <blockquote
          class="mx-auto text-lg italic leading-relaxed tracking-wide md:w-2/3 font-secondary"
          set:html={description}
        />
      )
    }
  </header>
  <Section>
    <RichTextContainer class="mb-16 text-left" content={content} />
  </Section>
</Base>
