---
import { getSinglePage, getArticles } from "@/lib/API";
import Base from "@/layouts/Base.astro";
import Section from "@/partials/Section.astro";
import ArticlesList from "@/partials/ArticlesList/index.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";

export const prerender = true;

const page = await getSinglePage("5yi8iu0vA6h6axYuSJoXHg");

const articles = await getArticles();

articles.sort((a, b) => {
  // Turn your strings into dates, and then subtract them
  // to get a value that is either negative, positive, or zero.
  return Date.parse(b.publishedAt) - Date.parse(a.publishedAt);
});
---

<Base title={page.title} meta_title={page.title}>
  <header class="w-screen px-8 py-16 mt-12 text-center">
    <p
      set:html="— Artikel —"
      class="mb-8 tracking-wide text-md font-secondary"
    />
    <h1 set:html={page.title} class="mb-8 text-2xl" />
    {
      page.description && (
        <blockquote
          class="mx-auto mb-8 text-lg italic leading-relaxed tracking-wide md:w-2/3"
          set:html={page.description}
        />
      )
    }
  </header>
  <Section>
    <RichTextContainer class="" content={page.content} />
  </Section>

  <Section>
    <ArticlesList articles={articles} />
  </Section>
</Base>
