---
import Logo from "@/components/Logo.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";

export interface NavigationLink {
  name: string;
  url: string;
}

const { main }: { main: NavigationLink[] } = menu;

const navLinkClassList =
  "text-stone-100 bg-stone-600 hover:bg-red-400 hover:text-stone-100 italic font-normal hover:scale-110 hover:z-10";
const activeNavLinkClassList = "active font-bold text-red-400 ";
const { pathname } = Astro.url;

let scrollUp = true;
let lastScroll = 0;
---

<>
  <ne-header
    data-scrollUp={scrollUp}
    data-lastScroll={lastScroll}
    class="fixed top-0 z-50 transition-all duration-300"
  >
    <nav
      class="flex items-center w-screen px-16 py-2 bg-stone-600 font-secondary"
    >
      <!-- logo -->
      <div class="order-0 me-8">
        <Logo />
      </div>

      <ul id="nav-menu " class="flex order-1 h-full">
        {
          main.map((navLink) => (
            <>
              <li class="">
                <a
                  href={navLink.url}
                  class={`nav-link rounded block me-2  px-6 py-2 transition-all ${
                    pathname === `${navLink.url}/` || pathname === navLink.url
                      ? activeNavLinkClassList
                      : navLinkClassList
                  }`}
                >
                  {navLink.name}
                </a>
              </li>
            </>
          ))
        }
      </ul>
    </nav>
  </ne-header>

  <script>
    class Header extends HTMLElement {
      connectedCallback() {
        let lastScroll = this.dataset.lastScroll;
        let scrollUp = this.dataset.scrollUp;

        window.addEventListener("scroll", () => {
          if (lastScroll < window.scrollY) {
            console.log("scrolling down");
            scrollUp = false;

            this.classList.add("-top-8", "opacity-0");
            this.classList.remove("top-0", "opacity-100");
          } else {
            console.log("scrolling up");
            scrollUp = true;
            this.classList.add("top-0", "opacity-100");
            this.classList.remove("-top-8", "opacity-0");
          }
          lastScroll = window.scrollY;
          console.log(scrollUp);

          this.dataset.lastScroll = lastScroll;
          this.dataset.scrollUp = scrollUp;
        });
      }
    }
    customElements.define("ne-header", Header);
  </script>
</>
