---
import type { Workshop } from "@/lib/contentful";
import { contentfulClient } from "@/lib/contentful";
import { slugify } from "@/lib/utils/textConverter";
import { simpleGermanDate } from "@/lib/utils/dateParser";
import Base from "@/layouts/Base.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";

export const prerender = true;

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Workshop>({
    content_type: "workshop",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: slugify(item.fields.title) },
    props: {
      slug: slugify(item.fields.title),
      title: item.fields.title,
      headline: item.fields.headline,
      description: item.fields.description,
      location: item.fields.location,
      dateStart: item.fields.dateStart,
      dateEnd: item.fields.dateEnd,
      parentTitle: item.fields.parentTitle,
      parentURL: item.fields.parentURL,
    },
  }));
  return pages;
}

const {
  slug,
  title,
  headline,
  description,
  location,
  dateStart,
  dateEnd,
  parentTitle,
  parentURL,
} = Astro.props;

const readableDate = simpleGermanDate(dateStart);
---

<Base title={headline} meta_title={headline}>
  <header class="w-screen py-16 mt-12 text-center">
    <p
      set:html="— Workshop —"
      class="mb-8 tracking-wide text-md font-secondary"
    />
    <h1 set:html={headline} class="mb-4 text-2xl" />
    <h2 set:html={parentTitle} class="mb-2 text-xl" />
    <p set:html={readableDate} class="text-md" />
  </header>
  <section class="w-screen">
    <RichTextContainer class="mb-16 text-left" content={description} />
  </section>
</Base>
