---
import type { Workshop } from "@/lib/contentful";
import { contentfulClient } from "@/lib/contentful";
import { slugify } from "@/lib/utils/textConverter";
import { simpleGermanDate } from "@/lib/utils/dateParser";
import Base from "@/layouts/Base.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import { getWorkshops } from "@/lib/API";
import Section from "@/partials/Section.astro";

export const prerender = true;

export async function getStaticPaths() {
  const pages = await getWorkshops();
  return pages;
}

const {
  slug,
  title,
  headline,
  description,
  location,
  dateStart,
  dateEnd,
  parentTitle,
  parentURL,
} = Astro.props;

const readableDate = simpleGermanDate(dateStart);
---

<Base title={headline} meta_title={headline}>
  <header class="w-screen px-4 py-16 mt-12 text-center">
    <p
      set:html="— Workshop —"
      class="mb-8 tracking-wide text-md"
    />
    <h1 set:html={headline} class="mb-4 text-2xl" />
    <h2 set:html={parentTitle} class="mb-2 text-xl" />
    <p set:html={readableDate} class="text-md" />
  </header>
  <Section>
    <RichTextContainer class="mb-16 text-left" content={description} />
  </Section>
</Base>
