---
import Base from "@/layouts/Base.astro";
import Section from "@/partials/Section.astro";
import { getSinglePage, getWorkshops } from "@/lib/API";
import WorkshopsList from "@/partials/WorkshopsList.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import ContentError from "@/components/ContentError.astro";

export const prerender = true;

let page, recentWorkshops, upcomingWorkshops;
let error = false;

try {
  page = await getSinglePage("2BOI94KBfNnnUXkZCIq9rN");
  const workshops = await getWorkshops();

  workshops.sort((a, b) =>
    Date.parse(b.props.dateStart) - Date.parse(a.props.dateStart)
  );

  const today = new Date();
  recentWorkshops = workshops.filter(
    (item) => new Date(item.props.dateStart) < today
  );
  upcomingWorkshops = workshops.filter(
    (item) => new Date(item.props.dateStart) >= today
  );
} catch (e) {
  error = true;
}
---

<Base title={page?.title} meta_title={page?.title}>
  {error ? <ContentError /> : <>
    <header class="w-screen px-8 py-16 mt-12 text-center">
      <p set:html="— Workshops —" class="mb-8 tracking-wide text-md optical-md" />
      <h1 set:html={page.title} class="mb-8 text-2xl optical-lg" />
      {
        page.description && (
          <blockquote
            class="mx-auto mb-8 text-lg italic leading-relaxed tracking-wide md:w-2/3"
            set:html={page.description}
          />
        )
      }
    </header>
    <Section>
      <RichTextContainer class="" content={page.content} />
    </Section>
    {
      upcomingWorkshops && upcomingWorkshops.length > 0 && (
        <Section>
          <h3 set:html="Meine nächsten Workshops" class="mb-4 text-2xl optical-md" />
          <WorkshopsList workshops={upcomingWorkshops} />
        </Section>
      )
    }
    {
      recentWorkshops && recentWorkshops.length > 0 && (
        <Section>
          <h3 set:html="Vergangene Workshops" class="mb-4 text-2xl optical-md" />
          <WorkshopsList workshops={recentWorkshops} />
        </Section>
      )
    }
  </>}
</Base>
