---
import type { Page } from "@/lib/contentful";
import { contentfulClient } from "@/lib/contentful";
import Base from "@/layouts/Base.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import Section from "@/partials/Section.astro";
import PaperBackground from "@/partials/PaperBackground.astro";

export const prerender = true;

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Page>({
    content_type: "pages",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      slug: item.fields.slug,
      image: item.fields.image,
      description: item.fields.description,
      content: item.fields.content,
    },
  }));
  return pages;
}

const { title, slug, image, description, content } = Astro.props;
---

<Base title={title} meta_title={title}>
  <header class="w-screen px-4 py-16 mt-12 text-center bg-stone-100">
    <h1 set:html={title} class="mb-8 text-2xl optical-lg" />
    {
      image?.fields.file.url && (
        <img
          class="rounded-full mx-auto mb-8 w-48 h-48 border-1 border-stone-100  object-cover outline outline-2 outline-stone-800 outline-offset-2"
          src={image.fields.file.url}
          alt=""
        />
      )
    }
    {
      description && (
        <blockquote
          class="mx-auto mb-8 text-lg italic leading-relaxed tracking-wide md:w-2/3"
          set:html={description}
        />
      )
    }
  </header>
  <Section>
    <PaperBackground>
      <RichTextContainer class="mb-16 text-left" content={content} />
    </PaperBackground>
  </Section>
</Base>
