---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import GradientBtn from "@/components/Button.astro";
import WorkshopCard from "@/components/WorkshopCard.astro";

import type { Button, Feature, Workshop } from "@/types";
import { getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa";

interface Homepage {
  banner: {
    title: string;
    subtitle: string;
    content: string;
    image: string;
    cta_about: Button;
    cta_contact: Button;
  };
  opener: {
    quote: string;
    title: string;
    image: string;
    content: string;
  };
  services: {
    title: string;
    service_1: {
      title: string;
      caption: string;
      workshops: Workshop[];
    };
    service_2: {
      title: string;
      caption: string;
      features: Feature[];
      cta: Button;
    };
  };
  features: Feature[];
}

const homepage = await getEntry("homepage", "-index");
const { banner, opener, services }: Homepage = homepage.data;
---

<Base>
  <!-- Banner -->
  <section class="pt-10 section">
    <div class="">
      <div class="grid items-center grid-cols-2 gap-8">
        {
          banner.image && (
            <div class="flex justify-end">
              <ImageMod
                src={banner.image}
                alt="banner"
                width={256}
                height={256}
                class="rounded-full"
                format="webp"
              />
            </div>
          )
        }
        <div class="text-left">
          <h1 set:html={markdownify(banner.title)} class="mb-1 lg:text-4xl" />
          <h2
            set:html={markdownify(banner.subtitle)}
            class="mb-4 lg:text-3xl"
          />
          <p set:html={markdownify(banner.content)} class="mb-6 lg:text-xl" />

          {
            banner.cta_about.enable && (
              <GradientBtn
                link={banner.cta_about.link}
                label={banner.cta_about.label}
                class="me-4"
              />
            )
          }
          {
            banner.cta_contact.enable && (
              <GradientBtn
                link={banner.cta_contact.link}
                label={banner.cta_contact.label}
              />
            )
          }
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->
  <!-- Opener -->
  <section class="section">
    <div class="mb-8 text-center">
      <h2 set:html={markdownify(opener.quote)} class="mb-1 lg:text-4xl" />
      <h2 set:html={markdownify(opener.title)} class="lg:text-2xl" />
    </div>
    <div class="container">
      <div class="items-center justify-center row">
        <content
          set:html={markdownify(opener.content)}
          class="mb-8 text-base text-left content"
        />
      </div>
    </div>
  </section>
  <!-- /Opener -->
  <!-- Services -->
  <section class="section">
    <div class="container">
      <div class="items-center justify-center row">
        <div class="text-center">
          <h2 set:html={markdownify(services.title)} class="mb-4 lg:text-2xl" />
        </div>
      </div>
      <div>
        {
          services.service_1 && (
            <div class="items-center justify-center mb-28 row">
              <div class="text-center">
                <h3
                  set:html={markdownify(services.service_1.title)}
                  class="mb-4 lg:text-4xl"
                />
                <p
                  set:html={markdownify(services.service_1.caption)}
                  class="mb-16"
                />
              </div>
              <ul class="flex justify-evenly">
                {services.service_1.workshops.map((workshop: Workshop) => (
                  <WorkshopCard data={workshop} />
                ))}
              </ul>
            </div>
          )
        }
        {
          services.service_2 && (
            <div class="items-center justify-center row">
              <div class="text-center">
                <h3
                  set:html={markdownify(services.service_2.title)}
                  class="mb-4 lg:text-4xl"
                />
                <p
                  set:html={markdownify(services.service_2.caption)}
                  class="mb-16"
                />
              </div>
              <ul class="flex justify-between mb-12">
                {services.service_2.features.map((feature: Feature) => (
                  <li class="inline-block w-48 mb-8">
                    <ImageMod
                      src={feature.image}
                      alt="feature"
                      width={128}
                      height={128}
                      format="webp"
                      class="mx-auto mb-4 rounded-full shadow"
                    />
                    <h4
                      class="text-center"
                      set:html={markdownify(feature.title)}
                    />
                  </li>
                ))}
              </ul>
              <div class="text-center">
                {services.service_2.cta.enable && (
                  <GradientBtn
                    link={services.service_2.cta.link}
                    label="Erfahre mehr…"
                  />
                )}
              </div>
            </div>
          )
        }
      </div>
    </div>
  </section>
  <!-- /Services -->
</Base>
