---
import Base from "@/layouts/Base.astro";
import {
  getLandingPage,
  getWorkshops,
  getWorkshopsTicketTailor,
} from "@/lib/API";
import WorkshopsList from "@/partials/WorkshopsList/index.astro";
import ArticlesList from "@/partials/ArticlesList/index.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import SectionHeader from "@/partials/SectionHeader.astro";
import Button from "@/components/Button.astro";
import Section from "@/partials/Section.astro";

export const prerender = true;

const page = await getLandingPage();

// console.log("page: ", page);

const ticketTailor = await getWorkshopsTicketTailor();
// console.log("ticketTailor: ", ticketTailor.data);

const workshops = await getWorkshops();

workshops.sort((a, b) => {
  // Turn your strings into dates, and then subtract them
  // to get a value that is either negative, positive, or zero.
  return Date.parse(b.props.dateStart) - Date.parse(a.props.dateStart);
});

const upcomingWorkshops = workshops
  .filter((item) => Date.parse(item.props.dateStart) >= Date.now())
  .reverse();

const recentWorkshops = workshops.filter(
  (item) => Date.parse(item.props.dateStart) < Date.now(),
);
---

<Base title={page.headerHeadline} meta_title={page.headerHeadline}>
  <!-- HEADER -->
  <section
    class="relative w-screen overflow-hidden md:overflow-visible md:h-screen bg-stone-100"
  >
    {
      page.headerImage?.fields.file.url && (
        <img
          class="z-0 w-auto max-h-full mt-16 md:absolute md:object-cover md:end-1/3 md:top-24 md:my-0"
          src={page.headerImage.fields.file.url}
          alt=""
        />
      )
    }
    <div
      class="z-10 max-w-md m-auto mb-16 -mt-24 md:absolute bottom-8 md:start-1/2 md:my-0"
    >
      <div class="mb-6 text-container">
        <h1
          class="mb-2 text-4xl font-bold text-right text-stone-600 md:text-left"
          set:html={page.headerHeadline}
        />
        <h1
          class="text-3xl italic text-right text-red-400 md:text-left"
          set:html={page.headerSubHeadline}
        />
      </div>
      <div class="flex justify-end md:justify-start">
        <Button
          className="me-4"
          label={page.headerLink01Label}
          href={page.headerLink01URL}
        />
        <Button label={page.headerLink02Label} href={page.headerLink02URL} />
      </div>
    </div>
  </section>
  <!-- /HEADER -->
  <main>
    <!-- MAIN CONTENT -->
    <!-- INTRO -->
    <Section>
      <SectionHeader
        title={page.introHeadline}
        subtitle={page.introSubHeadline}
      />
      <RichTextContainer class="text-left" content={page.introText} />
    </Section>
    <!-- / INTRO -->
    <!-- WORKSHOPS -->

    <Section>
      <SectionHeader title={page.workshopsHeadline} />
      <RichTextContainer class="text-left" content={page.workshopsText} />
      {ticketTailor && <div class="w-8 h-8 bg-red-500" />}

      {
        upcomingWorkshops.length > 0 && (
          <section class="my-8">
            <h2
              set:html={page.workshopsUpcomingHeadline}
              class="mb-4 text-lg"
            />
            <WorkshopsList workshops={upcomingWorkshops} />
          </section>
        )
      }
      <!-- Might be used in the future
       {
        recentWorkshops.length > 0 && (
          <section class="my-8 opacity-60">
            <h2 set:html={page.workshopsRecentHeadline} class="mb-4 text-lg" />
            <WorkshopsList workshops={recentWorkshops} />
          </section>
        )
      } -->

      <div class="flex w-full link-bar">
        <Button
          label="Erfahre mehr …"
          href="/workshops/"
          className="mx-auto"
        />
      </div>
    </Section>
    <!-- / WORKSHOPS -->

    <!-- SESSIONS -->
    <Section>
      <SectionHeader title={page.sessionsHeadline} />
      <RichTextContainer class="text-left" content={page.sessionsText} />
      <div class="flex w-full link-bar">
        <Button
          label={page.sessionsLinkLabel ? page.sessionsLinkLabel : "Erfahre mehr …"}
          href={page.sessionsLinkURL}
          className="mx-auto"
        />
      </div>
    </Section>

    <!-- / SESSIONS -->

    <!-- SUPPORT -->
    <Section>
      <SectionHeader title={page.supportHeadline} />
      <div class="grid grid-cols-3 gap-4 mx-auto mb-4 max-w-prose">
        <RichTextContainer
          class="col-span-3 mb-2 text-left"
          content={page.supportIntroText}
        />
        <ul class="block">
          <li
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all  font-secondary"
            set:html={page.supportLink01Label}
          />
          <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
          <a
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all  font-secondary"
            set:html={page.supportLink02Label}
          />
          <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
          <a
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all  font-secondary"
            set:html={page.supportLink03Label}
          />
          <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
          <a
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all  font-secondary"
            set:html={page.supportLink04Label}
          />
        </ul>
        <RichTextContainer
          class="col-span-2 pt-4 text-left"
          content={page.supportText}
        />
      </div>
    </Section>
    <!-- / SUPPORT -->
    <!-- ARTICLES -->

    <Section>
      <SectionHeader title={page.articlesHeadline} />
      <RichTextContainer
        class="mb-16 text-left"
        content={page.articlesIntroText}
      />

      <ArticlesList onlyFeatured={true} />

      <div class="flex w-full link-bar">
        <Button
          label={page.articlesLinkLabel}
          href={page.articlesLinkURL}
          className="mx-auto"
        />
      </div>
    </Section>
    <!-- / ARTICLES -->
  </main>
</Base>
