---
import Base from "@/layouts/Base.astro";
import {
  getLandingPage,
  getWorkshops,
  getSinglePage,
} from "@/lib/API";
import WorkshopsList from "@/partials/WorkshopsList.astro";
import ArticlesList from "@/partials/ArticlesList.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import SectionHeader from "@/partials/SectionHeader.astro";
import Button from "@/components/Button.astro";
import Section from "@/partials/Section.astro";
import PaperBackground from "@/partials/PaperBackground.astro";

export const prerender = true;

const page = await getLandingPage();

const sessionsPage = await getSinglePage("4UgguPWhfkrumrdwMIeAsL");

const workshopsPage = await getSinglePage("2BOI94KBfNnnUXkZCIq9rN");

const workshops = await getWorkshops();

workshops.sort((a, b) => {
  // Turn your strings into dates, and then subtract them
  // to get a value that is either negative, positive, or zero.
  return Date.parse(b.props.dateStart) - Date.parse(a.props.dateStart);
});

const upcomingWorkshops = workshops.filter((item) => {
  const today = new Date();

  return new Date(item.props.dateStart) >= today;
});
---

<Base title={page.headerHeadline} meta_title={page.headerHeadline}>
  <!-- HEADER -->
  <section
    class="relative w-screen min-h-screen px-8 lg:px-16 pt-8 md:pt-24  md:overflow-visible z-20"
  >
    <div class="relative">
      {
        page.headerImage?.fields.file.url && (
          <img
            class="h-auto w-96 md:w-1/2 -mb-24 md:-mb-36 lg:-mb-56 xl:-mb-72 2xl:-mb-96 z-0 mx-auto"
            src={page.headerImage.fields.file.url}
            alt=""
          />
        )
      }
      <div class="relative w-80 mx-auto ">
        <h1 class="text-2xl optical-md text-stone-600 text-right">
          <img
            class="h-36 lg:h-44 ms-auto me-0"
            src="/images/NovaElSayed-Script.png"
            alt={page.headerHeadline}
          />
          <span class="italic text-red-400">{page.headerSubHeadline}</span>
        </h1>
        <div class="flex justify-end md:justify-end mt-4">
          <Button
            className="me-4"
            label={page.headerLink01Label}
            href={page.headerLink01URL}
          />
          <Button label={page.headerLink02Label} href={page.headerLink02URL} />
        </div>
      </div>
    </div>
  </section>
  <!-- /HEADER -->
  <main>
    <!-- MAIN CONTENT -->
    <!-- INTRO -->
    <Section>
      <PaperBackground>
        <SectionHeader
          title={page.introHeadline}
          subtitle={page.introSubHeadline}
        />
        <RichTextContainer class="text-left" content={page.introText} />
      </PaperBackground>
      <div class="flex w-full link-bar mt-8">
        <Button
          label={page.introLinkLabel ? page.introLinkLabel : "Erfahre mehr …"}
          href={page.introLinkURL}
          className="mx-auto"
        />
      </div>
    </Section>
    <!-- / INTRO -->
    <!-- WORKSHOPS -->

    <Section id="workshops">
      <SectionHeader title={page.workshopsHeadline} />
      <div class="sm:grid grid-cols-3 gap-4 mx-auto mb-8 max-w-prose">
        {
          workshopsPage.image && (
            <img
              class="col-span-1 h-auto w-full "
              src={workshopsPage.image.fields.file.url}
              alt=""
            />
          )
        }
        <RichTextContainer
          class="text-left col-span-2"
          content={workshopsPage.introText}
        />
      </div>
      {
        upcomingWorkshops && upcomingWorkshops.length > 0 && (
          <div id="upcoming-workshops" class="mt-16">
            <h3
              set:html="Meine nächsten Workshops"
              class="mb-4 text-2xl optical-md"
            />
            <WorkshopsList workshops={upcomingWorkshops} />
          </div>
        )
      }

      <div class="flex w-full link-bar mt-8">
        <Button
          label="Erfahre mehr …"
          href={workshopsPage.slug}
          className="mx-auto"
        />
      </div>
    </Section>
    <!-- / WORKSHOPS -->

    <!-- SESSIONS -->

    <Section>
      <SectionHeader title={page.sessionsHeadline} />
      <RichTextContainer class="text-left" content={sessionsPage.introText} />
      <div class="flex w-full link-bar mt-8">
        <Button
          label={page.sessionsLinkLabel ? page.sessionsLinkLabel : "Erfahre mehr …"}
          href={page.sessionsLinkURL}
          className="mx-auto"
        />
      </div>
    </Section>

    <!-- / SESSIONS -->

    <!-- SUPPORT -->
    <!-- 
    <Section id="support">
      <SectionHeader title={page.supportHeadline} />
      <div class="grid grid-cols-3 gap-4 mx-auto mb-4 max-w-prose">
        <RichTextContainer
          class="col-span-3 mb-2 text-left"
          content={page.supportIntroText}
        />
        <ul class="block col-span-3 md:col-span-1">
          <li
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all"
            set:html={page.supportLink01Label}
          />
          <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
          <a
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all"
            set:html={page.supportLink02Label}
          />
          <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
          <a
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all"
            set:html={page.supportLink03Label}
          />
          <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
          <a
            class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all"
            set:html={page.supportLink04Label}
          />
        </ul>
        <RichTextContainer
          class="col-span-3 md:col-span-2 pt-4 text-left"
          content={page.supportText}
        />
      </div>
    </Section>
     -->
    <!-- / SUPPORT -->
    <!-- ARTICLES -->

    <Section>
      <SectionHeader title={page.articlesHeadline} />
      <RichTextContainer
        class="mb-16 text-left"
        content={page.articlesIntroText}
      />

      <ArticlesList onlyFeatured={true} />

      <div class="flex w-full link-bar mt-8">
        <Button
          label={page.articlesLinkLabel}
          href={page.articlesLinkURL}
          className="mx-auto"
        />
      </div>
    </Section>
    <!-- / ARTICLES -->
  </main>
</Base>
