---
import Base from "@/layouts/Base.astro";
import {
  getLandingPage,
  getWorkshops,
  getArticles,
  getWorkshopsTicketTailor,
} from "@/lib/API";
import WorkshopsList from "@/partials/WorkshopsList/index.astro";
import ArticlesList from "@/partials/ArticlesList/index.astro";
import RichTextContainer from "@/components/RichTextContainer.astro";
import SectionHeader from "@/partials/SectionHeader.astro";
import Button from "@/components/Button.astro";

export const prerender = true;

const page = await getLandingPage();

const articles = await getArticles();

// const ticketTailor = await getWorkshopsTicketTailor();

const featuredArticles = articles
  .sort((a, b) => {
    // Turn your strings into dates, and then subtract them
    // to get a value that is either negative, positive, or zero.
    return Date.parse(b.props.publishedAt) - Date.parse(a.props.publishedAt);
  })
  .filter((item) => item.props.isFeatured);

const workshops = await getWorkshops();
// console.log(workshops);

workshops.sort((a, b) => {
  // Turn your strings into dates, and then subtract them
  // to get a value that is either negative, positive, or zero.
  return Date.parse(b.props.dateStart) - Date.parse(a.props.dateStart);
});

const upcomingWorkshops = workshops
  .filter((item) => Date.parse(item.props.dateStart) >= Date.now())
  .reverse();

const recentWorkshops = workshops.filter(
  (item) => Date.parse(item.props.dateStart) < Date.now(),
);
---

<Base title={page.headerHeadline} meta_title={page.headerHeadline}>
  <!-- HEADER -->
  <section class="relative w-screen h-screen overflow-hidden">
    {
      page.headerImage?.fields.file.url && (
        <img
          class="absolute top-0 z-0 object-cover w-auto h-full start-0"
          src={page.headerImage.fields.file.url}
          alt=""
        />
      )
    }

    <div class="absolute top-0 z-10 grid h-full grid-cols-2 gap-4 start-0">
      <div class="flex flex-col justify-center col-end-3">
        <div class="mb-8">
          <h1
            class="mb-2 text-4xl font-bold text-stone-600"
            set:html={page.headerHeadline}
          />
          <h1
            class="text-3xl italic text-red-400"
            set:html={page.headerSubHeadline}
          />
        </div>
        <div class="flex">
          <Button
            className="me-4"
            label={page.headerLink01Label}
            href={page.headerLink01URL}
          />
          <Button label={page.headerLink02Label} href={page.headerLink02URL} />
        </div>
      </div>
    </div>
  </section>
  <!-- /HEADER -->
  <!-- INTRO -->
  <section class="w-screen py-16 text-center">
    <SectionHeader
      title={page.introHeadline}
      subtitle={page.introSubHeadline}
    />
    <RichTextContainer class="text-left" content={page.introText} />
  </section>
  <!-- / INTRO -->
  <!-- WORKSHOPS -->
  <section class="w-screen py-16 text-center">
    <SectionHeader title={page.workshopsHeadline} />
    <RichTextContainer class="text-left" content={page.workshopsText} />

    {
      upcomingWorkshops.length > 0 && (
        <section class="my-8">
          <h2 set:html={page.workshopsUpcomingHeadline} class="mb-4 text-lg" />
          <WorkshopsList workshops={upcomingWorkshops} />
        </section>
      )
    }
    {
      recentWorkshops.length > 0 && (
        <section class="my-8 opacity-60">
          <h2 set:html={page.workshopsRecentHeadline} class="mb-4 text-lg" />
          <WorkshopsList workshops={recentWorkshops} />
        </section>
      )
    }
  </section>

  <!-- / WORKSHOPS -->
  <!-- SUPPORT -->
  <section class="w-screen py-16 text-center">
    <SectionHeader title={page.supportHeadline} />
    <div class="grid grid-cols-3 gap-4 mx-auto mb-4 max-w-prose">
      <RichTextContainer
        class="col-span-3 mb-2 text-left"
        content={page.supportIntroText}
      />
      <div>
        <a
          class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all hover:scale-110 font-secondary hover:text-red-600"
          href={page.supportLink01URL}
          set:html={page.supportLink01Label}
        />
        <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
        <a
          class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all hover:scale-110 font-secondary hover:text-red-600"
          href={page.supportLink02URL}
          set:html={page.supportLink02Label}
        />
        <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
        <a
          class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all hover:scale-110 font-secondary hover:text-red-600"
          href={page.supportLink03URL}
          set:html={page.supportLink03Label}
        />
        <div class="w-0 h-4 mx-auto my-0 border border-stone-400"></div>
        <a
          class="block w-full py-3 mx-auto text-xl text-center text-red-400 transition-all hover:scale-110 font-secondary hover:text-red-600"
          href={page.supportLink04URL}
          set:html={page.supportLink04Label}
        />
      </div>
      <RichTextContainer
        class="col-span-2 pt-4 text-left"
        content={page.supportText}
      />
    </div>
  </section>
  <!-- / SUPPORT -->
  <!-- ARTICLES -->
  {
    featuredArticles && (
      <section class="w-screen py-16 text-center">
        <SectionHeader title={page.articlesHeadline} />
        <RichTextContainer
          class="mb-16 text-left"
          content={page.articlesIntroText}
        />

        <ArticlesList articles={featuredArticles} />

        <div class="flex w-full link-bar">
          <Button
            label={page.articlesLinkLabel}
            link={page.articlesLinkURL}
            className="mx-auto"
          />
        </div>
      </section>
    )
  }
  <!-- / ARTICLES -->
</Base>
